{% extends "uibar.html" %}
{% block content %}
    {% if output %}
    <table width=100% Border=5>
      <tr>
        <th align="center">Assignment Name</th>
        <th align="center">Class</th>
        <th align="center">Description</th>
        <th align="center">Due Date</th>
        <th align="center">Due Time</th>
        <th align="center">Tags</th>
      </tr>
      {% for assign_name, class, desc, dued, duet, tags in output %}
        <tr>
          <td align="center">{{ assign_name }}</td>
          <td align="center">{{ class }}</td>
          <td align="center">{{ desc }}</td>
          <td align="center">{{ dued }}</td>
          <td align="center">{{ duet }}</td>
          <td align="center">{{ tags }}</td>
        </tr>
      {% endfor %}
    {% else %}
        <p>Your table is empty! DATTEBAYO</p>
        <img src="{{ url_for('static', filename='dattebayo.jpg')}}" alt="Can't tell you what it is until you see it" style="width:305px;height:360px">
        <audio controls autoplay>
          <source src="{{ url_for('static', filename='dattebayo.mp3')}}" type="audio/mpeg">
          Your browser doesn't support 120% DATTEBAYO Mode :(
        </audio>
    {% endif %}
    </table>
{% endblock %}
