{% extends "uibar.html" %}
{% block content %}
<h1>Welcome to IlliniStudent API Login</h1>
<form action="/index" method="post" name="login">
  {{ form.hidden_tag()}}
  <p>
    User Name: <br>
    {{ form.user_name(size=50) }}
    {% for error in form.user_name.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
  </p>
  <p>
    Password: <br>
    {{ form.user_pass(size=50) }}
    {% for error in form.user_pass.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
  </p>
  <p><input type="submit" value="Sign In"></p>
</form>
{% endblock %}
